@media screen and ( max-width: 992px) {
    :root {
        --inputHeight: 40px;
    }
}
@media screen and ( max-width: 768px) {
    .input_width{
        width: 160px !important;
    }
    .section_chat:has(.chat_section_inner.active) .chat_list_section.active {
        display: none;
    }
    .logoimg {
        max-width: 100px;
        min-width: 100px;
    }
    
    .logoimg img {
        width: 100%;
    }
}
@media screen and ( max-width: 525px) {
    .form_section_inner {
        flex-wrap: wrap;
    }
    
    .form_section_inner label {
        display: block;
        width: 100%;
    }
    .input_width{
        margin-bottom: 10px;
    }
}