* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Mulish;
}
.container {
  max-width: 1440px;
}
a{
  color: currentColor;
}
section,
header {
  width: 100%;
  display: block;
  float: left;
}

/* header section  */
header {
  background: #fff;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.03);
}
.header_inner_section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-wrap: wrap;
}
:root{
  --inputHeight:50px;
}

.logoSection {
  display: flex;
  align-items: center;
  padding-block: 10px;
  flex: 2 2 390px;
}
.selectSection {
  padding-block: 10px;
}
select {
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  background: #064897;
  padding: 8px 25px;
  width: 230px;
  height: var(--inputHeight);
}

.logoimg {
  margin-right: 20px;
}

.logoName h3 {
  color: #002859;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  font-size: clamp(16px, 2vw, 26px);
}

.logoName p {
  color: #778393;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  font-size: clamp(14px, 2vw, 18px);
}

/* loging section  */
.inner_section {
  background: url(../images/b-Loyer_left.svg) no-repeat left bottom,url(../images/b-Loyer_right.svg) no-repeat right top, rgba(219, 224, 226, 0.3);
  min-height: calc(100vh - 116px);
}
.login_section_part h3 {
  color: #040e1a;
  text-align: center;
  font-size: 46px;
  font-family: Mulish;
  font-weight: 700;
  margin: 0;
}

.form_section label {
  color: var(--grey, #778393);
  font-size: 16px;
  font-family: Mulish;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.form_section input {
  color: #31322d;
  font-size: 18px;
  font-family: Mulish;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #a7b2bf;
  background: #fff;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.03);
  width: 100%;
  height: var(--inputHeight);
  padding: 10px;
}

.form_section {
  padding-top: 30px;
}

.for_section {
  color: #002859;
  font-size: 18px;
  font-family: Mulish;
  font-weight: 500;
  text-align: right;
  padding: 30px 0;
  margin: 0;
}

form.login_section_part {
  width: 580px;
  max-width: 90%;
  margin: auto;
  border-radius: 10px;
  border: 1px solid #dedede;
  background: #fff;
  box-shadow: 0px 3px 17px 0px rgba(0, 0, 0, 0.07);
  padding: 30px;
  margin-block: clamp(30px, 4vw, 60px);
}

.buttonSection button {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: Mulish;
  font-weight: 600;
  border-radius: 5px;
  background: #002859;
  width: 100%;
  height: var(--inputHeight);
  border: unset;
}

.reqAccount {
  color: #778393;
  text-align: center;
  font-size: 18px;
  font-family: Mulish;
  padding-top: 40px;
}

.reqAccount span {
  color: #002859;
}

.button_section {
  text-align: center;
  padding-block: 30px;
}

button.outline_button {
  border-radius: 5px;
  border: 1px solid var(--primary, #002859);
  background: #fff;
  color: var(--black, #040e1a);
  font-size: 18px;
  font-family: Mulish;
  font-weight: 600;
  height: var(--inputHeight);
  padding: 5px 32px;
  padding: 5px clamp( 20px , 1vw , 32px);
}

/* sub_header  */
.sub_header {
  float: left;
  width: 100%;
  display: block;
  background: #002859;
  box-shadow: 0px 3px 10px 0px rgba(0, 40, 89, 0.3);
}

.sub_header_section {
  display: flex;
  overflow: auto;
  margin: 0;
  list-style: none;
  justify-content: space-between;
  padding: 22px 0;
  padding: clamp( 10px , 1vw, 22px) 0;
}

.sub_header_section li a {
  display: flex;
  align-items: center;
  color: currentColor;
}

.sub_header_section li a svg path {
  stroke: currentColor;
}

.sub_header_section li {
  color: #cdd8e3;
  font-size: 18px;
  font-family: Mulish;
  font-weight: 500;
  white-space: nowrap;
}

.sub_header_section li a svg {
  margin-right: 10px;
}

.sub_header_section li:not(last-child) a {
  padding-right: 18px;
}

.sub_header_section li.active {
  color: #ffff;
}

/* inupt section  */
.input_section {
  display: flex;
  flex-wrap: wrap;
}

.form_section_inner label {
  color: #151a40;
  font-size: 18px;
  font-family: Mulish;
  font-weight: 500;
  white-space: nowrap;
  margin-right: 10px;
}

.form_section_inner input {
  border-radius: 5px;
  border: 1px solid #c8d3e1;
  background: #fff;
  height: var(--inputHeight);
  width: 100%;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.03);
  padding: 10px 20px;
  margin-right: 15px;
}

.form_section_inner {
  flex: 1 1 320px;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
}

.header_part {
  color: #252627;
  font-size: 28px;
  font-family: Mulish;
  font-weight: 700;
  font-size: clamp(20px, 2vw, 28px);
}

.select_section {
  border-radius: 10px;
  border: 1px solid #f0f0f0;
  background: #fff;
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.06);
  margin-top: 50px;
  margin-top: clamp( 25px , 2vw , 50px );
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.select_section.postJob {
  padding: 25px;
  padding: clamp(20px, 3vw, 45px);
  max-width: 962px;
  margin-inline: auto;
}
.postJob .header_part {
  text-align: center;
}

/* box section  */
.forn_field label {
  color: var(--grey, #778393);
  font-size: 16px;
  font-family: Mulish;
  font-weight: 600;
  display: block;
}

.field_group input:not([type="checkBox"]) {
  border-radius: 5px;
  border: 1px solid #c8d3e1;
  background: #fff;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.03);
  height: var(--inputHeight);
  padding: 5px 20px;
  width: 100%;
}

.forn_field select {
  background: transparent;
  color: #31322d;
  border-radius: 5px;
  border: 1px solid #c8d3e1;
  background: #fff;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.03);
  width: 100%;
  -webkit-appearance: none;
}
button.multiselect.dropdown-toggle.btn.btn-default {
  width: 100%;
  text-align: left;
  display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown-menu li label {
  padding: 4px 16px !important;
}
input[type="checkbox"] {
  accent-color: #002859;
  width: 18px;
  height: 18px;
}
.dropdown-menu {
  width: 100%;
}
.btn-group {
  width: 100%;
}

.forn_field .multiselect-native-select{
  background: transparent;
  color: #31322d;
  border-radius: 5px;
  border: 1px solid #c8d3e1;
  background: #fff;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.03);
  width: 100%;
  display: flex;
  height: var(--inputHeight);
}
.forn_field {
  margin-top: 30px;
  margin-top: clamp( 15px , 2vw , 30px );
}

.field_group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  column-gap: 20px;
}

.note-editor.note-frame {
  border-radius: 5px;
  border: 1px solid #c8d3e1;
  background: #fff;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.03);
}
.buttonSection {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 30px;
  padding-top: clamp(10px, 2vw, 30px);
}

 .table th {
  background: #e8ecf2;
  border: unset;
  white-space: nowrap;
}

 .table tbody + tbody {
  border: unset;
}

 .table tbody + tbody tr td {
  color: var(--grey, #778393);
  font-size: 16px;
  font-family: Mulish;
  line-height: 24px;
  border-bottom: 1px solid #e2e3e4;
}

 .table tbody + tbody tr td:nth-child(3) {
  max-width: 200px;
}
.show_item {
  display: flex;
  align-items: center;
}
.pagnation_section {
  display: flex;
  justify-content: space-between;
  padding: 0 clamp(10px, 2vw, 25px);
  flex-wrap: wrap;
  gap: 20px;
}

.show_item p {
  margin: 0;
  color: #778393;
  font-size: 14px;
  font-family: Mulish;
  line-height: 16px;
}

.show_item input {
  background: transparent;
  color: #778393;
  width: 70px;
  border-radius: 4px;
  border: 1px solid #97979b;
  background: #fff;
  padding: 4px 12px;
  margin-inline: 15px;
}

/* pagnation section  */
.page-link {
  border: unset;
  color: #33333585;
  font-size: 16px;
  font-family: Mulish;
  line-height: 16px;
}

.page-item.disabled .page-link {
  color: #33333585;
  font-size: 16px;
  font-family: Mulish;
  font-weight: 500;
  line-height: 16px;
}

.page-item:last-child .page-link {
  color: #002859;
  font-size: 16px;
  font-family: Mulish;
  font-weight: 500;
  line-height: 16px;
}
.page-link.active {
  border-radius: 4px;
  background: #002859;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.14);
  color: #fff;
  border-radius: 5px;
}
.pagination {
  margin: 0;
}

.input_width {
  width: 252px !important;
}

.form_section_inner {
  margin-bottom: 25px;
}
.select_section_header {
  padding: 30px 50px 0 30px;
  padding: clamp(10px, 2vw, 30px) clamp(20px, 2vw, 50px) 0
    clamp(10px, 2vw, 30px);
}

.input_section {
  margin-top: 35px;
  margin-top: clamp(10px, 2vw, 35px);
}
.buttonSection .outline_button {
  width: fit-content;
}

.buttonSection .outline_button:last-child {
  color: #fff;
  border-radius: 5px;
  border-color: #002859;
  background: #002859;
  margin-left: 20px;
}
.selectSection button.outline_button {
  border-radius: 5px;
  background: #e80000;
  color: #fff;
  border-color: #e80000;
  display: flex;
  gap: 10px;
  align-items: center ;
}
.status {
  color: #da7723;
  font-size: 16px;
  font-family: Mulish;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.status:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #da7723;
  /* padding: 8px; */
  border-radius: 50%;
  aspect-ratio: 1;
  display: inline-block;
  margin-right: 10px;
}
.approved.status {
  color: #069c56;
}

.approved.status:before {
  background: #069c56;
}

.denied.status {
  color: #d3212c;
}

.denied.status:before {
  background: #d3212c;
}

.sub_header_section::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
.sub_header_section::-webkit-scrollbar-track {
  background: #002859;
}

/* Handle */
.sub_header_section::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.sub_header_section::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type="date"]::before {
  color: #999999;
  content: attr(placeholder);
}
input[type="date"] {
  color: #ffffff;
  position: relative;
}
input[type="date"]:focus,
input[type="date"]:valid {
  color: #666666;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "" !important;
}
input[type="date"]::after {
  content: "";
  background: #fff url(../images/calendarIcon.svg) no-repeat center;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 1;
  right: 20px;
  pointer-events: none;
}

.chat_list_section {
display: none;
  border-radius: 10px;
  background: #f6f6f7;
  box-shadow: -2px 0px 14px 0px rgba(0, 0, 0, 0.2);
  width: 364px;
}
.chat_list_section.active{
    display: block;
}

.chat_list_section_header {
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid #e8e8e9;
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.chat_list_section_header h4 {
  color: #151a40;
  font-size: 20px;
  font-family: Mulish;
  font-weight: 700;
}

.chat_list_section_header span {
  width: 22px;
  height: 3px;
  background: #002859;
  align-self: center;
  display: flex;
}

.chat_member_list {
  padding: 20px;
  display: grid;
  gap: 15px;
  max-height: calc(90vh - 100px);
  overflow: auto;
}

.chat_member {
  display: flex;
  align-items: center;
}

.img_member {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  overflow: hidden;
}

.img_member img {
  object-fit: cover;
  object-position: center;
}

.member_name {
  margin: 0;
  margin-left: 20px;
  color: #151a40;
  font-size: 18px;
  font-family: Mulish;
  font-weight: 700;
}

.msg_count {
  margin: 0;
  margin-left: auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #407fc9;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat_section_inner {
 display: none;
  top: 0;
  width: 355px;
  border-radius: 10px;
  background: #f6f6f7;
  box-shadow: -2px 0px 14px 0px rgba(0, 0, 0, 0.2);
}
.section_chat:has(.chat_list_section.active) .chat_section_inner.active{
    display: block;
}

.cha_section_header {
  display: flex;
  padding: 10px;
  border: 1px solid #e8e8e9;
  background: #fff;
  align-items: center;
}

.cha_section_header_name p {
  color: #7e8297;
  font-size: 12px;
  font-family: Mulish;
  font-weight: 600;
  margin: 0;
  margin-left: 20px;
}

.chat_section_profile {
  padding: 10px;
  max-height: calc(90vh - 100px);
  overflow: auto;
}

.receive {
  display: flex;
  align-items: end;
  padding: 0 0px 10px 0;
}

.img_receive {
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background: #d9d9d9;
  overflow: hidden;
}

.img_receive img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.mgs_text {
  width: fit-content;
  border-radius: 7px 7px 7px 0px;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.17);
  padding: 10px 20px;
  margin-bottom: 10px;
}

.time {
  color: #7e8297;
  font-size: 10px;
  font-family: Mulish;
  margin: 0;
}

.text_receive {
  margin-left: 10px;
}

p.time span {
  color: #232421;
  font-size: 10px;
  font-weight: 600;
}

.send {
  text-align: right;
}

.send .mgs_text {
  margin-left: auto;
  border-radius: 7px 7px 0px 7px !important;
  background: #d3e0ee;
}

.input_section_chat input {
  border-radius: 7px;
  border: 1px solid #e8e8e9;
  background: #fefefe;
  width: 100%;
  height: 45px;
  padding: 5px 50px 5px 20px;
}

.input_section_chat {
  position: sticky;
  bottom: 0;
}

.input_section_chat span {
  border-radius: 10px;
  background: #002859;
  padding: 4px 12px;
  position: absolute;
  right: 5px;
  height: 35px;
  bottom: 5px;
}
.icon_section_chat {
    position: fixed;
    border-radius: 60px;
    background: #1B5EAD;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.50);
    right: 0;
    bottom: 0;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section_chat {
    position: fixed;
    bottom: 64px;
    right: 10px;
    display: flex;
    gap: 20px;
    align-items: end;
}


.cards {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #F0F0F0;
  background: #FFF;
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.06);
  padding: 17px;
  margin-top: 32px;
}

.icons_section {
  width: 50px;
  height: var(--inputHeight);
  display: flex;
  border-radius: 50px;
  background: var(--data-color);
  align-items: center;
  justify-content: center;
}

.cards p {
  color: #7E8297;
  font-size: 18px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.cards h6 {
  color: #151A40;
  font-size: 28px;
  font-size: clamp( 20px , 2vw, 28px);
  font-family: Mulish;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  margin-left: auto;
}


.chart_header {
  color: #151A40;
  font-size: 24px;
  font-size: clamp( 18px , 2vw, 24px);
  font-family: Mulish;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.chart_card {
  border-radius: 10px;
  border: 1px solid #F0F0F0;
  background: #FFF;
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.06);
  padding: 22px;
  margin-top: 32px; 
  height: calc( 100% - 32px);
}

.chat_section_label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}



.chat_section_label h6 {
  margin: 0;
  color: #7E8297;
  font-size: 18px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.cart_title._header {
  color: #151A40;
  font-size: 18px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
  margin-bottom: clamp(10px , 1vw, 20px);
}

.item_value {
  color: #7E8297;
  font-size: 14px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item_value span.chart-legend  {
  border-radius: 2px;
  background: #407FC9;
  width: 14px;
  height: 14px;
  display: block;
}

.card_value_item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 25px;
  list-style: none;
}


.single_section_chat {
  display: flex;
  flex-wrap: wrap;
}

.canvas-con-inner {
  flex: 0 0 300px;
  padding: 30px 0;
  padding: clamp( 15px , 2vw, 30px) 0;
}

.inner_section_waper {
  flex: 2 1 200px;
}

.doughnut{
  max-width: 250px;
  max-height: 250px;
  margin: auto;
}
.chart_card_table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.chart_card_table a {
  color: #151A40;
  font-size: 16px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}
